/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
    background-color: #580243;
}

button#c_sign_in, button#m_sign_in {
    width: 250px;
    height: 100px;
    display: inline;
    margin: 0px 10px;
}

div.sign_in_buttons {
    position: absolute;
    width: 550px;
    height: 100px;
    left: 30%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}


