<% content_for :body do %>
    <div class="sign_in_buttons">
      <button class="btn btn-primary btn-lg" id="c_sign_in">Customer Sign In</button><button class="btn btn-primary btn-lg" id="m_sign_in">Merchant Sign In</button>
    </div>
    <div id="fbsignin">

    </div>
    <div id="m_logon">
      <form role="form">
        <div class="form-group">
          <label for="UserName">User Name</label>
          <input type="text" class="form-control" id="UserName" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <button type="submit" id="sub" class="btn btn-default">Submit</button>
      </form>
    </div>
    <script>
      $("#fbsignin").hide();
      $("#m_logon").hide();
      $('#c_sign_in').click(function(){
            $('#c_sign_in').hide();
            $('#m_sign_in').hide();
            $('#fbsignin').show();
      });
      $('#m_sign_in').click(function(){
          $('#c_sign_in').hide();
          $('#m_sign_in').hide();
          $('#m_logon').show();
      });
      var user;
      var password;
      $('#sub').click(function(){
          user= $("#UserName").val();
          password= $("#password").val();
          console.log(user + " and " + password);
      });
    </script>
<% end %>