<!DOCTYPE html>
<html>
<head>
  <title>JukeBoxr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap -->
  <link href="assets/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>


<%= yield :body %>

</body>
<footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="assets/bootstrap.min.js"></script>
</footer>
</html>
